<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="snakecodder" sortOrder="999" translate="label">
			<label>snakecodder</label>
		</tab>
		<section id="hiddenprice" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>hiddenprice</label>
			<tab>snakecodder</tab>
			<resource>SnakeCodder_HiddenPrice::config_snakecodder_hiddenprice</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>general</label>
				<field id="status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>status</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="enable_for_customer_groups" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="multiselect">
					<label>enable_for_customer_groups</label>
					<comment/>
					<source_model>SnakeCodder\HiddenPrice\Model\Config\Source\EnableForCustomerGroups</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
